 <!-- course section start -->
 {% load static %}

 <section class="about" id="about" style="background-color:#F0F0F0">
    <div class="max-width">
        <h2 style="color:black;" class="title">Courses Details </h2>
        <div class="about-content">
            <div class="column left">
                <img src="{% static '/Saiprasad_Profile_Photo.jpg'%} " alt="">
            </div>
            <div class="column right">
                <div class="text" style="color:red;" >I'm Saiprasad Dabbe and I'm a <span class="typing-2"></span></div>
                <p style="color:black;" > A passionate Developer proficient in Web architecture, JAVA, JavaScript, HTML, CSS,
                    Data Structures, and Algorithms. Approachable team leader, always keen to take
                    the goal-oriented path to complete the tasks at hand. Strongly interested in
                    obtaining a Developer position to create scalable products and work on providing a
                    wow-user experience through them. </p>
                <a href="{% static '/Saiprasad-Dabbe-Resume.pdf'%} " download="Saiprasad-Dabbe-Resume">Download Resume</a>
            </div>
        </div>
    </div>
</section>
<!-- course section end -->