{% include 'base.html' %}
{% load static %}

<body>
    <!-- teams section start 
    <section class="teams" id="teams">
        <div class="max-width">
            <h2 class="title">My Statistics</h2>
            <div class="carousel owl-carousel">
                <div class="card">
                    <div class="box">
                       <h1>1200+</h1>
                        <div class="text">Hours</div>
                        <p>of full stack Coding</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>240+</h1>
                        <div class="text">Hackerrank</div>
                        <p>Problems</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>210+</h1>
                        <div class="text">Git</div>
                        <p>Commits</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>20+</h1>
                        <div class="text">Projects</div>
                        <p>Done</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>100+</h1>
                        <div class="text">Hours</div>
                        <p>of Soft Skills Sessions</p>
                    </div>
                </div>
            </div>
        </div>
    </section> --> 
</body>
</html>
